/*Versão para todos*/

/*
Typical device breakpoints:
pequenas telas: até 480px
- Smartphones: 600px to 768px
- Tablets: 768px to 992px
- Desktops: 992px to 1200px
- TVs: 1201px and above
grandes telas: acima de 1200px
*/

@media print {

    /*Impressão*/
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg);
    }

    main {
        width: 90vh;
        border: 2px solid black;
    }

    main::after{
        content: "Essa impressão é apenas para teste de media query";
        text-decoration: overline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }
}



@media screen and (min-width: 768px) and (max-width: 992px) {

    /*Tablet*/
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {

    /*Desktop*/
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: block;
    }

    img#tv {
        display: none;
    }
}

@media screen and (min-width: 1201px) {

    /*Telas grandes*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }
}